<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lion09.chat.ChatRoomMapper">

<select id="findAllRoom" resultType="com.lion09.chat.ChatRoomDTO">
	<!-- 나가지 않은 사용자 -->
	select * from chatRoom where postId 
		IN (select postId from chatMessages where userId = #{userId}
		and nickName != '알수없음')
</select>

<select id="findRoomByPostId" resultType="com.lion09.chat.ChatRoomDTO">
    SELECT * FROM chatRoom WHERE postId = #{postId}
</select>

<select id="findRoomById" resultType="com.lion09.chat.ChatRoomDTO">
    SELECT * FROM chatRoom WHERE roomId = #{roomId}
</select>

<insert id="createChatRoom" parameterType="com.lion09.chat.ChatRoomDTO">
    INSERT INTO chatRoom (num, userId, postId, roomName, userCount, maxUserCnt, secretChk, chatType) 
    VALUES (#{num}, #{userId}, #{postId}, #{roomName}, 1, #{maxUserCnt}, FALSE, #{chatType})
</insert>

<select id="confirmPwd" resultType="boolean" parameterType="map">
    SELECT COUNT(*) FROM chatRoom
    WHERE roomId = #{roomId}
    AND roomPwd = #{roomPwd}
</select>

<update id="plusUserCnt">
    UPDATE chatRoom
    SET userCount = userCount + 1
    WHERE postId = #{postId}
</update>

<update id="minusUserCnt">
    UPDATE chatRoom
    SET userCount = CASE
        WHEN userCount > 0 THEN userCount - 1
        ELSE 0
    END
    WHERE postId = #{postId}
</update>

<select id="chkRoomUserCnt" resultType="boolean">
    SELECT
    CASE
        WHEN userCount + 1 > maxUserCnt THEN 0
        ELSE 1
    END
    FROM chatRoom
    WHERE postId = #{postId}
</select>

<delete id="delChatRoom">
    DELETE chatRoom WHERE postId = #{postId}
</delete>

<select id="maxNum" resultType="Integer">
	select nvl(max(num),0) from chatRoom
</select>

</mapper>