<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lion09.pay.LionPayMapper">

<insert id="insertLionPay" parameterType="com.lion09.pay.LionPayDTO">
    INSERT INTO lionPay (userId, balance) VALUES (#{userId}, 0)
</insert>

<insert id="insertRecharge">
    INSERT INTO recharge (num, userId) VALUES (#{num}, #{userId})
</insert>

<update id="updateRechargeAmt" parameterType="com.lion09.pay.LionPayDTO">
    update lionPay set rechargeAmount = #{rechargeAmount} where userId = #{userId}
</update>

<update id="updateBalData" parameterType="com.lion09.pay.LionPayDTO">
    update lionPay set balance = #{balance} where userId = #{userId}
</update>

<update id="updateAccData" parameterType="com.lion09.pay.LionPayDTO">
	update lionPay set accountNum=#{accountNum},accountName=#{accountName}
	where userId=#{userId}
</update>

<update id="updatePwdData" parameterType="com.lion09.pay.LionPayDTO">
	update lionPay set payPwd=#{payPwd} where userId=#{userId}
</update>

<update id="resetAccData" parameterType="com.lion09.pay.LionPayDTO">
	update lionPay set accountNum=null, accountName=null where userId=#{userId}
</update>

<!-- 전체 데이터 개수 -->
<select id="getDataCount" resultType="Integer">
	select nvl(count(*),0) from recharge where userId=#{userId}
</select>

<!-- 하나의 데이터 -->
<select id="getReadData" parameterType="String" resultType="com.lion09.pay.LionPayDTO">
	select userId,accountNum,accountName,payPwd,balance from lionPay where userId=#{userId}
</select>

<insert id="insertData">
	insert into recharge (num, userId,rechargeAmount,accountName,postId,date)
	values (#{dto.num},#{userId},#{dto.rechargeAmount},#{dto.accountName},#{dto.postId},CURRENT_TIMESTAMP)
</insert>

<select id="getListData" parameterType="String" resultType="com.lion09.pay.ListDTO">
	select userId,rechargeAmount,accountName,postId,date,usage from recharge where userId=#{userId} and num > 0 ORDER BY date DESC limit 4
</select>

<select id="getLists" resultType="com.lion09.pay.ListDTO">
	select * from (
	select rownum rnum, data.* from(
	select userId,usage,rechargeAmount,accountName,date
	from recharge where userId = #{userId}
	order by date desc) data)
<![CDATA[
	where rnum>=#{start} and rnum<=#{end}
]]>
</select>

<select id="maxNum" resultType="Integer">
	select nvl(max(num),0) from recharge
</select>

<insert id="insertUsage">
	insert into recharge (num, userId,usage,accountName,postId,date)
	values (#{dto.num},#{userId},#{dto.usage},#{dto.accountName},#{dto.postId},CURRENT_TIMESTAMP)
</insert>

<select id="getRefundData" resultType="Integer">
	select usage from recharge where userId = #{userId} and postId = #{postId}
</select>

<delete id="deleteLionPay">
	delete from lionPay where userId = #{userId}
</delete>

<delete id="deleteLionPayLists">
	delete from recharge where userId = #{userId}
</delete>

<update id="resetBalance">
	update lionpay set balance = 0 where userId = #{userId}
</update>

</mapper>