<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lion09.mypage.MyPageMapper">

<select id="selectData" parameterType="String" resultType="com.lion09.member.Member">
	select userId,nickName,energy,profileImgName,myAddress,myLatitude,myLongitude,myRange,email
	from member where userId=#{userId}
</select>

<update id="updateData" parameterType="com.lion09.member.Member">
	update member set nickName=#{nickName} where userId=#{userId}
</update>

<update id="updateAddress" parameterType="com.lion09.member.Member">
	update member set myAddress=#{myAddress},myLatitude=#{myLatitude},
	myLongitude=#{myLongitude} where userId=#{userId}
</update>

<update id="imgUpdate" parameterType="com.lion09.member.Member">
	update member set profileImgName=#{profileImgName} where userId=#{userId}
</update>

<update id="imgDefault" parameterType="String">
	update member set profileImgName='lion.png' where userId=#{userId}
</update>

<select id="findLocationsNearby" parameterType="com.lion09.member.Member" resultType="com.lion09.member.Member">
    <![CDATA[
  	select distinct myAddress
	from member
	where
	6371*2*asin(
	    sqrt(
	        power(sin((radians(myLatitude)-radians((select myLatitude from member where userId=#{userId})))/2),2)+
	        cos(radians((select myLatitude from member where userId=#{userId})))*cos(radians(myLatitude))*
	        power(sin((radians(myLongitude)-radians((select myLongitude from member where userId=#{userId})))/2),2)
	    )
	)<=#{myRange}
    ]]>
</select>

<update id="updateRange" parameterType="com.lion09.member.Member">
	update member set myRange=#{myRange} where userId=#{userId}
</update>

<update id="updatePwd" parameterType="com.lion09.member.Member">
	update member set userPwd=#{userPwd} where userId=#{userId}
</update>

</mapper>