<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lion09.board.OrderMapper">

    <!-- 하나의 게시물에 참여한 사람 수 -->
    <select id="maxId" resultType="int">
        select nvl(max(orderId),0) from orders where postId=#{postId}
    </select>
    
    <!-- 거래내역 수 -->
    <select id="orderMaxId" resultType="int">
        select nvl(max(orderId),0) from orders
    </select>

    <!-- 공구 참여 추가 -->
    <insert id="insertOrder1" parameterType="com.lion09.order.Order">
        insert into orders (userId,postId,orderDate,orderPrice,count,status,title)
        values (#{userId},#{postId},sysdate,#{orderPrice},1,#{status},#{title})
    </insert>

    <!-- 공구 참여 취소2 -->
    <delete id="deleteOrder1" parameterType="com.lion09.order.Order">
        delete from orders where postId=#{postId}
    </delete>

    <!-- post에서  참여 취소3 -->
    <update id="deleteOrder2" parameterType="int">
        update post set participant=participant-1 where postId=#{postId}
    </update>

    <!-- post에서 공구 참여 추가1 -->
    <update id="updateOrder" parameterType="int">
        update post set participant=participant+1 where postId=#{postId}
    </update>

    <!-- 공구 참여 목록 (주석 처리된 부분은 필요에 따라 활성화) -->
	<select id="orderHistory" parameterType="hashMap"
	 resultType="com.lion09.order.Order">
	 select * from (
	 select rownum rnum, data.* from (
		 select postId,userId, FORMATDATETIME(orderDate, 'yyyy-MM-dd') AS orderDate,orderPrice,count,status,title
		 from orders where userId=#{userId}
		  order by userId desc) data)
 <![CDATA[
 	where rnum>=#{start} and rnum<=#{end}
 ]]>
	 </select>


    <!--  거래 상태 -->
    <select id="findOrderState" parameterType="com.lion09.order.Order" resultType="String">
        select status from orders where userId=#{userId} and postId=#{postId}
    </select>
    
    <select id="findOrderCount" parameterType="com.lion09.order.Order"
	resultType="int">
	select count(*) from orders where userId=#{userId} and postId=#{postId}
</select>


<select id="orderDataCount" parameterType="map" resultType="int">
	select nvl(count(*),0) from orders where userId=#{userId}
</select>



<select id="findOrderData" parameterType="com.lion09.order.Order" resultType="String">
    select postId from orders where userId=#{userId}
</select>



<update id="updateOrders" parameterType="com.lion09.board.Post">
	update orders set title=#{title},orderPrice=#{productsPrice},status=#{status}
	where postId=#{postId}
</update>

<select id="deleteOrders" parameterType="int">
	delete orders where postId=#{postId}
</select>

<update id="updateReview" parameterType="hashMap">
	update orders set status='후기작성완료' where postId=#{postId} and userId=#{userId}
</update>

</mapper>
