<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-///mybatis.org//DTD Mapper 3.0//EN"
"Http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lion09.board.PostMapper">

<select id="maxPostId" resultType="int">
	select nvl(max(postId),0) from post
</select>

<insert id="insertData" parameterType="com.lion09.board.Post">
    insert into post (userId,postId,title, productsPrice, hitCount, contents,
    created, postLikeCount, recruitment, categoryId, myAddr,nickName,chooseFile,deadLine,status,participant)
    values (#{userId},#{postId}, #{title}, #{productsPrice}, 0, #{contents}, current_timestamp, 0, 
    #{recruitment}, #{categoryId}, #{myAddr},#{nickName},#{chooseFile},
    #{deadLine},'모집중',1)
</insert>

<select id="getLists" parameterType="hashMap"
 resultType="com.lion09.board.Post">
	 select * from (
	 select rownum rnum, data.* from (
	 select postId,nickName,title,status,productsPrice,hitCount,
	 contents,to_char(created,'YYYY-MM-DD'),to_char(deadLine,'YYYY-MM-DD'),
	 chooseFile,postLikeCount,recruitment,
	 categoryId,myAddr,to_char(likeDate,'YYYY-MM-DD')
	 from post 
	 where ${searchKey} like '%' || #{searchValue} || '%'
	 order by postId desc) data)
 <![CDATA[
 	where rnum>=#{start} and rnum<=#{end}
 ]]>
 </select>

<select id="mygetLists" parameterType="hashMap"
 resultType="com.lion09.board.Post">
	 select * from (
	 select rownum rnum, data.* from (
	 select postId,nickName,title,status,productsPrice,hitCount,
	 contents,to_char(created,'YYYY-MM-DD'),to_char(deadLine,'YYYY-MM-DD'),
	 chooseFile,postLikeCount,recruitment,
	 categoryId,myAddr,to_char(likeDate,'YYYY-MM-DD')
	 from post where userId=#{userId}
	 order by postId desc) data)
 <![CDATA[
 	where rnum>=#{start} and rnum<=#{end}
 ]]>
 </select>
 


<select id="getDataCount" parameterType="map" resultType="int">
	select nvl(count(*),0) from post
	where ${searchKey} like '%' || #{searchValue} || '%'
</select>

<select id="mygetDataCount" parameterType="map" resultType="int">
	select nvl(count(*),0) from post where userId=#{userId}
</select>


<select id="getReadData" parameterType="int"
	resultType="com.lion09.board.Post">
	select postId,nickName,title,status,productsPrice,hitCount,contents,
	created,deadLine,chooseFile,postLikeCount,recruitment,categoryId,myAddr,participant,
	likeDate,userId from post where postId=#{postId}	
</select>

<update id="updateHitCount" parameterType="int">
	update post set hitCount=hitCount+1 where postId=#{postId}
</update>

<update id="updateData" parameterType="com.lion09.board.Post">
	update post set title=#{title},myAddr=#{myAddr},
	productsPrice=#{productsPrice},contents=#{contents},
	recruitment=#{recruitment},categoryId=#{categoryId},
	deadLine=#{deadLine},status=#{status}
	where postId=#{postId}
</update>

<select id="deleteData" parameterType="int">
	delete post where postId=#{postId}
</select>


<update id="imgUpdate" parameterType="com.lion09.board.Post">
	update post set chooseFile=#{chooseFile} where postId=#{postId}
</update>


<update id="imgDefault" parameterType="com.lion09.board.Post">
	update post set chooseFile='lion.png' where postId=#{postId}
</update>


 <!-- 마감 일주일 남은 게시글 목록 가져오기 -->
<select id="deadlineProduct" resultType="com.lion09.board.Post">
    SELECT postId, title, productsPrice, hitCount, userId, created, deadLine,
        chooseFile, postLikeCount, recruitment, categoryId, myAddr
    FROM post
    <![CDATA[
    WHERE deadLine <= DATEADD('DAY', 7, CURRENT_TIMESTAMP())
    ]]>
    ORDER BY deadLine DESC
    LIMIT 5;
</select>

 <!-- 인기글 목록 가져오기 -->
<select id="hitProduct" resultType="com.lion09.board.Post">
    SELECT postId, title, productsPrice, hitCount, userId, created, deadLine,
        chooseFile, postLikeCount, recruitment, categoryId, myAddr
    FROM post
    ORDER BY hitCount DESC
    LIMIT 5;
</select>


<select id="getReadStatus" parameterType="int"
	 resultType="java.lang.String">
	select status from post where postId=#{postId}	
</select>

<select id="cannotRemovePosts" resultType="int">
	select nvl(count(*),0) from (
		select * from post where userId = #{userId} 
		and participant > 1 and status = '모집중')
</select>

<delete id="deleteAllPosts">
	delete from post
	where userId = #{userId} and participant = 1
</delete>
</mapper>



