<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-///mybatis.org//DTD Mapper 3.0//EN"
"Http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lion09.board.PostMapper">

<select id="maxPostId" resultType="int">
	select nvl(max(post_id),0) from post
</select>

<insert id="insertData" parameterType="com.lion09.board.Post">
    insert into post (post_id, title, status, products_price, hit_count, contents,
    created, deadLine, choose_file, post_like_count, recruitment, type, category_id, my_addr, user_id, like_date)
    values (#{postId}, #{title}, #{status}, #{productsPrice}, 0, #{contents}, current_timestamp, current_timestamp, #{chooseFile}, 0, #{recruitment}, #{type}, #{categoryId}, #{myAddr}, #{userId}, current_timestamp)
</insert>

<select id="getLists" parameterType="hashMap"
 resultType="com.lion09.board.Post">
	 select * from (
	 select rownum rnum, data.* from (
	 select post_id,title,status,products_price,hit_count,
	 contents,to_char(created,'YYYY-MM-DD'),to_char(dead_line,'YYYY-MM-DD'),
	 choose_file,post_like_count,recruitment,type,
	 category_id,my_addr,user_id,to_char(like_date,'YYYY-MM-DD')
	 from post 
	 order by post_id desc) data)
 <![CDATA[
 	where rnum>=#{start} and rnum<=#{end}
 ]]>
 </select>
 


<select id="getDataCount" parameterType="map" resultType="int">
	select nvl(count(*),0) from post
	
</select>


<select id="getReadData" parameterType="int"
	resultType="com.lion09.board.Post">
	select post_id,title,status,products_price,hit_count,contents,
	created,dead_line,choose_file,post_like_count,recruitment,type,category_id,my_addr,user_id,
	like_date from post where post_id=#{postId}	
</select>

<update id="updateHitCount" parameterType="int">
	update post set hit_count=hit_count+1 where post_id=#{postId}
</update>



</mapper>