<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-///mybatis.org//DTD Mapper 3.0//EN"
"Http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lion09.board.PostLikeMapper">

<select id="getPostlike" parameterType="com.lion09.board.PostLikeDTO"
	resultType="com.lion09.board.PostLikeDTO">
	select userId,postId,likeDate,likeState from postLike 
	where postId=#{postId}
</select>

<insert id="insertPostlike" parameterType="com.lion09.board.PostLikeDTO">
	insert into postLike (userId, postId, likeDate, likeState)
	values (#{userId},#{postId},current_timestamp, 1)
</insert>

<delete id="deletePostlike" parameterType="com.lion09.board.PostLikeDTO">
	delete postLike where postId=#{postId}
</delete>

<select id="findPostlikeState" parameterType="com.lion09.board.PostLikeDTO"
	resultType="int">
	select count(*) from postLike where userId=#{userId} and postId=#{postId}
</select>

<update id="updateLike" parameterType="int">
	update post set postLikeCount=postLikeCount+1 where postId=#{postId}
</update>

<update id="deleteLike" parameterType="int">
	update post set postLikeCount=postLikeCount-1 where postId=#{postId}
</update>

<select id="likeList" parameterType="hashMap" resultType="com.lion09.board.Post">
    <![CDATA[
    select * from (
        select rownum rnum, data.* from (
            select pl.postId as postLikeId, p.postId as postId, title, productsPrice, chooseFile, myAddr
            from postLike pl
            inner join post p on pl.postId = p.postId
            WHERE pl.userId=#{userId}
            order by pl.likeDate desc
        ) data
    ) where rnum >= #{start} and rnum <= #{end}
    ]]>
</select>

<select id="getLikeCount" parameterType="String" resultType="int">
	select count(*) from postLike where userId=#{userId} 
</select>

</mapper>