@charset "UTF-8";

@font-face {
	font-family: 'omyu_pretty';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

body,div,button,input {
	font-family: 'omyu_pretty';
}

.blue-text{
	color: #7d7868;
}

/* 결제 모달창 */

.modal-container{
  width:100%;
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.modal-btn-box{
  width:100%;
  text-align:center;
}
.modal-btn-box button{
  display:inline-block;
  width:150px;
  height:50px;
  background-color:#ffffff;
  border:1px solid #e1e1e1;
  cursor:pointer;
  padding-top:8px;
}

.modal-input{
	padding-left: 10px;
	font-size: 18pt;
}

dl {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 15px;
}

dt {
  font-size: 18pt;
  font-weight: bold;
  flex: 1;
  text-align: right;
  margin-right: 15px;
}

dd {
  flex: 2;
  text-align: left;
}

dd input{
	border: 0;
}

.modal-container h3{
	padding-top: 90px;
	font-size: 20pt;
	text-align: center;
}

.popup-wrap{
  background-color:rgba(0,0,0,.3);
  justify-content:center;
  align-items:center;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:none;
  padding:15px;
}
.popup{
  width: 100%;
  max-width: 450px;
  background-color:#ffffff;
  border-radius:10px;
  overflow:hidden;
  background-color:#eec94f;
  box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3);
}
.popup-head{
  width:100%;
  height:50px;
  display:flex;
  align-items:center;
  justify-content:center;
}
.head-title {
	color: #fff;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -3px;
    text-align: center;
}
.popup-body{
  width:100%;
  background-color:#ffffff;
  height: 300px;
}
.body-content{
  width:100%;
}
.body-titlebox{
  text-align:center;
  width:100%;
  height:40px;
  margin-bottom:10px;
}
.body-contentbox{
  word-break:break-word;
  overflow-y:auto;
  min-height:100px;
  max-height:200px;
}

.body-contentbox2 dl{
  word-break:break-word;
  overflow-y:auto;
  min-height:100px;
  max-height:140px;
  padding-left: 70px;
  font-size: 18pt;
}

.body-contentbox2 dd{
  flex: 2;
  text-align: left;
  padding-top: 30px;
}

.popup-foot{
  width:100%;
  height:60px;
  display: flex;
}
.pop-btn{
  flex: 1;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#ffffff;
  cursor:pointer;
  font-size: 17pt;  
}
.pop-btn.confirm{
  border-right:1px solid #fff;
}

.profileImgBtn {
	width: 70px; 
	margin-top: 20px;
	position: relative;
    background-color: #ffffff;
   	border: 1px solid #444444;
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.25s;
	font-family: 'omyu_pretty';
	font-size: 13pt;
}

.profileImgBtn:hover {
	color: #ffffff;
    background: #444444;
}

.content-box{
    margin-top: 65px;
}

.container1{
    width: 1200px;
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 20px;
    font-family: 'Pretendard', sans-serif;
}

.column{
    flex-direction: column;
}

.post-box{
    background-color: #fff;
    padding: 56px;
    border: 1px solid #dedede;
    margin: 48px 0 0 0 ;

}

.post-box img{
    width: 100%;
    height: 380px;
    object-fit: contain;
    background-color: #fff;
    border-radius: 12px;
}

.flex-box{
    display: flex;
    align-items: center;
}
.between{
    justify-content: space-between;
}
.info-button-box{
    margin: 28px 0;
}

.user-info{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.button-box{
    gap: 8px;
}

.button-box .grey  {
    background-color: #dedede;
    color: #000;
    font-weight: 700;
    padding: 12px 32px;
    border: none;
    border-radius: 8px;
    font-size: 13pt;
}

.button-box .orange {
    background-color: #eec94f;
    color: #fff;
    font-weight: 600;
    padding: 12px 32px;
    border: none;
    border-radius: 8px;
    font-size: 13pt;
}

.post-info-box{
    display: flex;
    flex-direction: column;
    margin: 16px 0 0 0;
    gap: 16px;
}

.location-views-box{
    opacity: 0.5;
    margin-top: 40px;
}

.block-box{
    display: block;
}

hr{
    opacity: 0.5;
}

button:hover{
    opacity: 0.8;
}

.line{
	width: 100%;
}

body {
  margin: 0px;
  background-color: rgba(255, 138, 61, 0.15);
}
.header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  margin: 0px;
  padding: 10px 50px;
  background-color: #ffffff;
}
.header__main {
  display: flex;
  align-items: center;
}
.header__title {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  color: #ff8a3d;
  border: none;
}
.header__title img {
  width: 50px;
  height: 50px;
  animation: carrot-logo-dance 2s ease-in-out infinite;
}

@keyframes carrot-logo-dance {
  0% {
    transform: rotateY(0);
  }
  50% {
    opacity: 0.5;
  }
  to {
    transform: rotateY(180deg);
  }
}
.total__search {
  position: relative;
  margin-top: 5px;
  margin-left: 25px;
}
.search {
  width: 400px;
  height: 40px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}
.search i {
  opacity: 0.3;
}
.sub_search {
  position: absolute;
  top: 50px;
}
.sub_search span:first-child {
  font-size: 14px;
  font-weight: bold;
}
.sub_search span:nth-child(2) {
  font-size: 13px;
}
.sub_search span:last-child {
  font-size: 14px;
  font-weight: bold;
  opacity: 0.5;
}

.download {
  margin-left: 150px;
  font-weight: bold;
}
.chat {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  width: 120px;
  height: 40px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.chat span:first-child {
  font-weight: bold;
  margin-right: 5px;
}
.chat span:last-child {
  font-size: 15px;
  color: #ff8a3d;
  font-weight: bold;
}

.main__contents {
  display: flex;
  justify-content: center;
}

.contents {
  background-color: white;
  margin: 50px 0px;
  width: 750px;
  height: 850px;
  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  padding: 30px 40px;
}
.contents__title span {
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
}

.content__line {
  margin: 25px 20px;
  display: flex;
  justify-content: space-between;
}
.content__img img {
  width: 200px;
  height: 160px;
  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}

.content__span span:first-child {
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
.content__span span:nth-child(2) {
  font-size: 15px;
  font-weight: bold;
  opacity: 0.6;
}
.content__price_like {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.price_span {
  color: #ff8a3d;
  font-size: 14px;
  font-weight: bold;
  margin-right: 100px;
}
.content__price_like i {
  color: #ff8a3d;
  margin-right: 5px;
}

h1{
	font-size: 30px;
}


/* 진행바 */
.progress {
	width: 25%;
	height: 50px;
	position: absolute;
}

.progressBar {
	border: 1px;
	width: 100%; 
	height: 20px;
	-webkit-appearance: none;
	border: 2px solid orange;
    border-radius: 10px;
}

::-webkit-progress-bar {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

::-webkit-progress-value {
  background-color: orange;
  border-radius: 10px;
}

.progress-number {
	position: relative;
	left: 40%;
	font-family: 'omyu_pretty'; 
}

.progress-number::before {
	content: "";
	position: absolute;
	top: -10px;
	transform: translateX(-50%);
	border-top: 5px solid #eec94f;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

.progress-number::after {
	content: attr(aria-valuenow);
	position: absolute;
	top: -10px;
	transform: translate(-50%, -100%);
	padding: 4px 10px;
	color: #fff;
	font-size: 15px;
	font-weight: 300;
	background-color: #eec94f;
	border-radius: 3px;
}

/*  참여인원 progress bar */
.progress1 {
    height: 50px;
    width: 50%;
    accent-color: rgb(91, 91, 91);
    margin-left: 48%;
}
.submitButtons {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}
.joinButton1 {
    margin-top: 30px;
    color: white;
    background-color: orange;
    font-size: 20px;
    font-weight: 900;
    width: 300px;
    height: 50px;
    padding: 6px 12px;
    border-radius: 12px;
    margin-left: 120%;
    border: none;
}

.joinButton2 {
    margin-top: 30px;
    color: white;
    background-color: orange;
    font-size: 20px;
    font-weight: 900;
    width: 300px;
    height: 50px;
    padding: 6px 12px;
    border-radius: 12px;
    margin-left: 120%;
    border: none;
}
.joinButton:hover{
    background-color: rgb(255, 112, 18);
}

.profileBox2 {
	width: 40px; 
	height: 50px; 
	border-radius: 70%; 
	overflow: hidden;
    border: 1px solid #CCCCCC;
    margin-top: 40px;
}

.profileImg {
	width: 100%; 
	height: 100%; 
	object-fit: cover;
}

.payButton {
    margin-top: 30px;
    color: white;
    background-color: orange;
    font-size: 20px;
    font-weight: 900;
    width: 300px;
    height: 50px;
    padding: 6px 12px;
    border-radius: 12px;
    margin-left: 120%;
    border: none;
}
.payButton:hover{
    background-color: rgb(255, 112, 18);
}