@font-face {
	font-family: 'ONE-Mobile-POP';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'omyu_pretty';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

h2 { font-weight: border; }
.hr1 { border: 0;
height: 2px;
background:  none;}
    .grey { 
     color: none;}
     #strong { font-weight: 900;}

            table {
            position:static;
            margin-left:15%;
            width: 70%;
            border-top: 4px solid white;
            border-collapse: collapse;
            font-family: 'omyu_pretty';
            font-size: 14pt;
            
            }
            th { background-color: #eec94f ; 
            border-top: 3px solid #727272; 
            width: 50px;   
            }
            th, td {
            border-bottom: 1px solid #d3d3d3;
            padding: 10px;       
            }

  .greylist {
  width: 50px;
  height: 30px;
  font-weight: 900;
  color: white;
  text-align: center;
  background: grey;
  border: solid 2px white;
  border-radius: 5px;
  }
  .gradient {
  width: 80px;
  height: 30px;
  font-weight: 900;
  color: white;
  text-align: center;
  background: linear-gradient( to bottom, grey, black );
  border: solid 2px white;
  border-radius: 5px;
  }

            .left {text-align: left;}
            .right {  float: right;}
            .center { text-align: center;}

a {color:black;
text-decoration-line : none;}

.profileBtn {
	width: 10%;
    padding: 7px 10px;
    color: #eec94f;
    position: relative;
    background-color: #ffffff;
   	border: 3px solid #eec94f;
    display: inline-block;
    border-radius: 15px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
	font-family: 'omyu_pretty';
	font-size: 17pt;
	margin-left: 72%;
}

.profileBtn:hover {
	color: #ffffff;
    background: #eec94f;
}