<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1,shrink-to-fit=no">
<title>layout</title>
<link href="css/list.css" rel="stylesheet" />
<link href="css/templatemo-style.css" rel="stylesheet">
</head>
<body>

	<nav th:fragment="navbar" class="col-md-6 col-12 tm-nav">
		<ul class="tm-nav-ul">
			<li class="tm-nav-li-left"><a
				href="http://localhost:8080/index" class="tm-nav-link active">사자고</a></li>
			<li class="tm-nav-li-left"><a href="/list1"
				class="tm-nav-link">공동구매</a></li>
			<li class="tm-nav-li-left"><a href="/list2"
				class="tm-nav-link">동네직거래</a></li>
			<li class="tm-nav-li-left"><a href="/faqs"
				class="tm-nav-link">고객센터</a></li>
			<li class="tm-nav-li-right"><a href="/myPage"
				class="tm-nav-link">마이페이지</a></li>
			<li class="tm-nav-li-right"><a href="/user/login"
				class="tm-nav-link">로그인</a></li>
			<li class="tm-nav-li-right"><a href="/user/signup"
				class="tm-nav-link">회원가입</a></li>
		</ul>
	</nav>
	
</body>
</html>