<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>LionPay</title>
<link href="css/myPage.css" rel="stylesheet" />
<link href="css/style_myPage.css" rel="stylesheet" />
<link href="css/pay.css" rel="stylesheet" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link href="css/templatemo-style.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
@font-face {
	font-family: 'ONE-Mobile-POP';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'omyu_pretty';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}
</style>

<script type="text/javascript" th:inline="javascript">

let totalAmount = 0;
let currentBalance = 0;

function count(type) {
	
    const resultElement = document.getElementById('result');

    if (type === '100000') {
        totalAmount += 100000;
    } else if (type === '50000') {
        totalAmount += 50000;
    } else if (type === '10000') {
        totalAmount += 10000;
    } else if (type === '0') {
    	totalAmount = 0;
    }

    // 결과 포맷팅 및 출력
    resultElement.innerText = totalAmount.toLocaleString();

    // 금액 업데이트
    addAmount(parseInt(type));
}

//금액 추가
function addAmount(amount) {
    if (type !== '0') {
        currentBalance += parseInt(amount);
    }
    document.getElementById('result').textContent = currentBalance.toLocaleString() + '원';
}

function cash() {
	
	  var btnOpen = document.getElementById('btnOpen');
	  var btnRefund = document.getElementById('btnRefund');
	  var btnCheck = document.getElementById('btnCheck');
	  var preModal = document.getElementById('preModal');
	  var modal = document.getElementById('modal');
	  var nextModal = document.getElementById('nextModal');

	  btnCheck.disabled = true;
	  
    const rechargeAmount = totalAmount;
    const accountName = document.getElementById('accountName').value;
    
    if (![[${dto.accountNum}]] || ![[${dto.accountName}]]) {
        alert('먼저 연결 계좌를 등록해주세요.');
        return;
    }
    
    if (rechargeAmount === 0) {
        alert('충전할 금액을 선택해주세요.');
        return;
    }
    
    
    if (![[${dto.payPwd}]]) {
	    alert('먼저 PAY 비밀번호를 등록해주세요.');
	    rechargeAmount = 0;
	    return;
	    
	}
    
    $.ajax({
        type: 'POST',
        url: '/payCharge.action',
        data: { rechargeAmount: rechargeAmount,
        	accountName: accountName },
        success: function(response) {
        	
        	if (response.canCharge) {
        		
        			$("#modal").css("display", "block");
            		$("#btnCheck").click(function() {
            			
    	        		var dtoPwd = $("#payPwd").val();
    	        		var enteredPwd = "";
    	        		
    	        		enteredPwd += $("#payPwd1").val();
    	        		enteredPwd += $("#payPwd2").val();
    	        		enteredPwd += $("#payPwd3").val();
    	        		enteredPwd += $("#payPwd4").val();
    	        		enteredPwd += $("#payPwd5").val();
    	        		enteredPwd += $("#payPwd6").val();
    	
    	        		if (!enteredPwd) {
    	        	    	alert('PAY비밀번호를 입력해주세요.');
    	        	    } else if (enteredPwd === dtoPwd) {
    	        		    $("#modal").css("display", "none");
    	        		 	// totalAmount 초기화
    	    	            totalAmount = 0;
    	    	
    	    	            // 결과 업데이트
    	    	            document.getElementById('result').textContent = currentBalance.toLocaleString() + '원';
    	    	            window.location.href = '/LionPay';
    	    	         	alert('충전이 완료되었습니다.');
    	        		        
    	        		} else {
    	        		    alert('비밀번호가 일치하지 않습니다.');
    	        		    totalAmount = 0;
    	        		    $("#modal").css("display", "none");
    	        		        
    	        		    document.getElementById('payPwd1').value = '';
    	        			document.getElementById('payPwd2').value = '';
    	        			document.getElementById('payPwd3').value = '';
    	        			document.getElementById('payPwd4').value = '';
    	        			document.getElementById('payPwd5').value = '';
    	        			document.getElementById('payPwd6').value = '';
    	        			
    	        		}
    	        		
            		});
        			
            
        	} else {
        		totalAmount = 0;
                document.getElementById('result').textContent = totalAmount.toLocaleString();
                alert('최대 보유금액인 100만원을 초과하여 충전할 수 없습니다.');
            }
        },
        error: function() {
            alert('서버 오류가 발생했습니다. 잠시 후 다시 시도해주세요.');
        }
    });
    
}

function registerAcc() {
    var f = document.myForm2;
        
    var selectElement = document.getElementById("mySelect");
    var selectedValue = selectElement.value;
    var accountNum = document.getElementById("accountNum").value;
        
    if (selectedValue && accountNum) {
        alert('연결 계좌가 등록되었습니다.');
        
        if (f) {
            f.action = "/updateAcc_ok.action";
            f.submit();
        }
    } else {
        alert('연결 계좌를 등록해주세요.');
        return;
    }

}
	
function changeAcc() {
	
	var f = document.myForm2;
	
	var selectElement = document.getElementById("mySelect");
	var selectedValue = selectElement.value;
	var accountNum = document.getElementById("accountNum");
	
	if (selectedValue && accountNum) {
		alert('연결 계좌가 수정되었습니다.');
		
		if(f) {
			f.action= "/updateAcc_ok.action";
			f.submit();
		}
		
	} else{
		alert('정확히 입력해주세요.')
		return;
	}
}

function resetAcc() {
	
	var f = document.myForm2;
	
	var selectElement = document.getElementById("mySelect");
	var selectedValue = selectElement.value;
	var accountNum = document.getElementById("accountNum");
	
	alert('연결 계좌가 삭제되었습니다.');
	
	if(f) {
		f.action= "/resetAcc_ok.action";
		f.submit();
	}
}

function registerPwd() {
    const pwd1 = document.getElementById('pwd1').value;
    const pwd2 = document.getElementById('pwd2').value;
    const pwd3 = document.getElementById('pwd3').value;
    const pwd4 = document.getElementById('pwd4').value;
    const pwd5 = document.getElementById('pwd5').value;
    const pwd6 = document.getElementById('pwd6').value;

    const pwd = pwd1 + pwd2 + pwd3 + pwd4 + pwd5 + pwd6;

    $.ajax({
        type: 'POST',
        url: '/updatePwdData_ok.action',
        data: { payPwd: pwd }, // 업데이트할 데이터
        success: function(response) {
            document.getElementById('pwd1').value = '';
            document.getElementById('pwd2').value = '';
            document.getElementById('pwd3').value = '';
            document.getElementById('pwd4').value = '';
            document.getElementById('pwd5').value = '';
            document.getElementById('pwd6').value = '';
            
            if (!pwd) {
    	    	alert('PAY비밀번호를 입력해주세요.');
    	    }

            alert('PAY비밀번호가 등록되었습니다.');
            
            window.location.href = '/LionPay';
        },
        error: function() {
        	alert('서버 오류가 발생했습니다. 잠시 후 다시 시도해주세요.');
        }
    });
}

function changePwd() {
    const newPwd1 = document.getElementById('newPwd1').value;
    const newPwd2 = document.getElementById('newPwd2').value;
    const newPwd3 = document.getElementById('newPwd3').value;
    const newPwd4 = document.getElementById('newPwd4').value;
    const newPwd5 = document.getElementById('newPwd5').value;
    const newPwd6 = document.getElementById('newPwd6').value;

    const newPwd = newPwd1 + newPwd2 + newPwd3 + newPwd4 + newPwd5 + newPwd6;

    $.ajax({
        type: 'POST',
        url: '/updatePwdData_ok.action',
        data: { payPwd: newPwd }, // 업데이트할 데이터
        success: function(response) {
            document.getElementById('newPwd1').value = '';
            document.getElementById('newPwd2').value = '';
            document.getElementById('newPwd3').value = '';
            document.getElementById('newPwd4').value = '';
            document.getElementById('newPwd5').value = '';
            document.getElementById('newPwd6').value = '';

            alert('PAY비밀번호가 변경되었습니다.');
            
            window.location.href = '/LionPay';
        },
        error: function() {
        	alert('서버 오류가 발생했습니다. 잠시 후 다시 시도해주세요.');
        }
    });
}

window.addEventListener('load', function() {
	  
	  var f = document.myForm2;
      
	  var selectElement = document.getElementById("mySelect");
	  var selectedValue = selectElement.value;
	  var accountNum = document.getElementById("accountNum").value;
	  var registerBtn = document.getElementById("registerBtn");
	  var changeBtn = document.getElementById("changeBtn");
	  var deleteBtn = document.getElementById("deleteBtn");
	  
	  if(selectedValue && accountNum){
		  registerBtn.style.display = 'none';
		  changeBtn.style.display = 'inline-block';
	      deleteBtn.style.display = 'inline-block';
	  } else{
		  registerBtn.style.display = 'block';
		  changeBtn.style.display = 'none';
	      deleteBtn.style.display = 'none';
	  }

});

function err(){
	var err = [[${err}]];
	if (err) {
	    alert(err);
	}
};
</script>

</head>
<body onload="err()">
	<!-- 네비바 자리 -->
	<div th:replace="layout :: navbar"></div>

	<div class="container" style="position: relative;">
		<!-- Top box -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll">
				<img src="img/bg.jpeg" style="width: 100%;">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<div class="tm-site-text-box">
								<h1 class="tm-site-title">라이온 페이</h1>
								<h6 class="tm-site-description">3% 할인 혜택</h6>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div style="display: flex;">

			<!-- Sidebar -->
			<div class="sidebar">
				<h3 class="w3-bar-item">Menu</h3>
				<a href="/LionPay" class="w3-bar-item w3-button">LionPay</a> 
				<a href="/myList" class="w3-bar-item w3-button">내가쓴글</a> 
				<a href="/wishList" class="w3-bar-item w3-button">관심상품</a> 
				<a href="orderHistory" class="w3-bar-item w3-button">구매이력</a> 
				<a href="/update" class="w3-bar-item w3-button">계정/정보</a>
				<a href="/qna_list" class="w3-bar-item w3-button">문의내역</a>
				<a href="/user/delMem" class="w3-bar-item w3-button">탈퇴하기</a>
			</div>

			<!-- Page Content -->
			<div style="width: 100%;">
				<header>
					<div align="center">
						<h2 class="col-12 text-center tm-section-title">LionPay</h2>
					</div>
				</header>

				<div align="center">

					<table id="LionPayTable">
						<tr style="height: 140px;">
							<td colspan="2">
								<div
									style="display: flex; align-items: center; padding-left: 30px; padding-right: 30px;">
									<div style="flex: 1;">LionMoney</div>
									<div>
										<button class="profileImgBtn" id="btnOpen"
											style="margin: 0px; width: 100px;">pay비밀번호</button>
									</div>
									<input type="hidden" id="payPwd" th:value="${dto.payPwd}" />
									<div id="preModal">
										<div id='content'>
											<input type='button' value='x' class="close" id='btnClose1'/>
											<label>사용할 PAY비밀번호를 입력하세요.</label><br/>
											<div class="certify">
										        <input type="password" id="pwd1"
										        	maxlength="1" min="0" max="9" onlyNumber>
										        <input type="password" id="pwd2"
										        	maxlength="1" min="0" max="9" onlyNumber>
										        <input type="password" id="pwd3"
										        	maxlength="1" min="0" max="9" onlyNumber>
										        <input type="password" id="pwd4"
										        	maxlength="1" min="0" max="9" onlyNumber>
										        <input type="password" id="pwd5"
										        	maxlength="1" min="0" max="9" onlyNumber>
										        <input type="password" id="pwd6"
										        	maxlength="1" min="0" max="9" onlyNumber>
										    </div>
										    <input class="profileImgBtn" type='button' onclick='registerPwd();' value='등록' id='btnRegister'/><br/>
										</div>
									</div>
									<div id="modal" style="display: none;">
										<div id='content'>
											<input type='button' value='x' class="close" id='btnClose2'/>
											<label>현재 PAY비밀번호를 입력하세요.</label><br/>
											<div class="certify">
										        <input type="password" id="payPwd1"
										        	maxlength="1" min="0" max="9" onlyNumber>
										        <input type="password" id="payPwd2"
										        	maxlength="1" min="0" max="9" onlyNumber>
										        <input type="password" id="payPwd3"
										        	maxlength="1" min="0" max="9" onlyNumber>
										        <input type="password" id="payPwd4"
										        	maxlength="1" min="0" max="9" onlyNumber>
										        <input type="password" id="payPwd5"
										        	maxlength="1" min="0" max="9" onlyNumber>
										        <input type="password" id="payPwd6"
										        	maxlength="1" min="0" max="9" onlyNumber>
										    </div>
										    <input class="profileImgBtn" type='button' id='btnCheck' value='확인'/><br/>
										</div>
									</div>
									<form action="" method="post" name="myForm">
									<input type="hidden" name="newPwd" id="newPwd" value="">
									<div id='nextModal' style="display: none;">
										<div id='content'>
										<input type='button' value='x' class="close" id='btnClose3'/>
											<label>새로 사용할 PAY비밀번호를 입력하세요.</label><br/>
											<div class="certify">
												<input type="password" id="newPwd1"
											      maxlength="1" min="0" max="9" onlyNumber>
												<input type="password" id="newPwd2"
												  maxlength="1" min="0" max="9" onlyNumber>
												<input type="password" id="newPwd3"
												  maxlength="1" min="0" max="9" onlyNumber>
												<input type="password" id="newPwd4"
												  maxlength="1" min="0" max="9" onlyNumber>
												<input type="password" id="newPwd5"
												  maxlength="1" min="0" max="9" onlyNumber>
												<input type="password" id="newPwd6"
												  maxlength="1" min="0" max="9" onlyNumber>
											</div>
											<input class="profileImgBtn" type='button' onclick='changePwd();' value='변경' id="btnChange"/><br/>
										</div>
									</div>
									</form>
								</div>
								<div style="margin-top: 20px; padding-left: 30px;">[[${dto.balance}]]원</div>
								<button class="profileImgBtn" id="btnRefund"
											style="margin: 0px; width: 100px; float: right; margin-right: 30px;">환불</button>
							</td>
						</tr>
					</table>
					<div class="modal-container">
					<div class="popup-wrap" id="refundPopup">
						<div class="popup">
							<div class="popup-head">
								<span class="head-title">라이온페이머니 환불</span>
							</div>
							<div class="popup-body">
								<div class="body-content">
									<div class="body-titlebox"></div>
									<div class="body-contentbox">
										<dl>
											<dt>환불 예정 금액</dt>
											<dd>
												<input type="text" class="modal-input"
													th:value="${dto.balance} + '원'" readonly />
											</dd>
										</dl>
										<dl>
											<dt>환불 받을 계좌</dt>
											<dd>
												<input type="text" class="modal-input" id="refund_ant"
													th:value="${dto.accountNum}"
													readonly />
											</dd>
										</dl>
										<h3>해당 계좌로 환불을 진행하시겠습니까?</h3>
									</div>
								</div>
							</div>
							<div class="popup-foot">
								<span class="pop-btn confirm" id="confirm">예</span> <span
									class="pop-btn close" id="close">아니오</span>
							</div>
						</div>
					</div>
				</div>

				</div>
				
				<form action="" method="post" name="myForm2">
				<div align="center" style="margin-top: 50px;">

					<h3 style="font-family: 'omyu_pretty'; font-size: 30px;">연결 계좌</h3>

					<table id="LionPayTable" border="1"
						style="background-color: #ffffff; border-color: #444444; color: #444444; height: 20px;">
						<tr>
							<td>
								<select style="width: 115px; height: 30px;" id="mySelect" name="accountName" class="listbox">
									<option value="" disabled selected>은행선택</option>
									<option th:each="bank : ${bankList}" th:text="${bank}" 
										th:value="${bank}" th:selected="${bank == dto.accountName}">
									</option>
								</select>
							</td>
							<td style="padding-left: 20px;"><input
								style="border-style: hidden; width: 310px;" type="text"
								placeholder="계좌번호" name="accountNum"  id="accountNum" th:value="${dto.accountNum}"></td>
						</tr>
					</table>
					<input class="profileImgBtn" type="button" value="등록" onclick="registerAcc();" id="registerBtn"
						style="margin-right: 20px; width: 80px; font-size: 27px;">
					<input class="profileImgBtn" type="button" value="변경"  id="changeBtn"
						style="margin-right: 20px; width: 80px; font-size: 27px;" onclick="changeAcc();">
					<input class="profileImgBtn" type="button" value="삭제" id="deleteBtn"
						style="width: 80px; font-size: 27px;" onclick="resetAcc();">
				</div>
				</form>

				<div align="center" style="margin-top: 50px;">
					<h3 style="font-family: 'omyu_pretty'; font-size: 30px; margin-bottom: 50px;">충전 금액</h3>
					<h5>LIONPAY머니 최대 보유금액 100만원</h5>
					<table id="LionPayTable" border="1"
						style="background-color: #ffffff; border-color: #444444; color: #444444; margin-top: 0;">
						<tr>
							<td id="result" colspan="4" style="padding-left: 20px;">0</td>
						</tr>
						<tr>
							<td style="padding: 0px;"><button class="payBtn"
									onclick='count("10000")'>+1만원</button></td>
							<td style="padding: 0px;"><button class="payBtn"
									onclick='count("50000")'>+5만원</button></td>
							<td style="padding: 0px;"><button class="payBtn"
									onclick='count("100000")'>+10만원</button></td>
							<td style="padding: 0px;"><button class="payBtn" 
									onclick='count("0")'>초기화</button></td>
						</tr>
					</table>
					
					<input type="hidden" id="userId" th:value="${dto.userId}" />
					<input type="hidden" id="balance" th:value="${dto.balance}" />
					<input type="hidden" id="rechargeAmount" th:value="${dto.rechargeAmount}" />
					<input type="hidden" id="accountName" th:value="${dto.accountName}" />
					
					<input class="profileImgBtn" type="button" value="충전" 
						style="width: 200px; font-size: 27px;" onclick="cash();">
				</div>

				<div style="margin-top: 60px; margin-left: 20%; margin-right: 20%">
					<div
						style="display: flex; align-items: center; justify-content: space-between;">
						<div style="font-family: 'omyu_pretty'; font-size: 25px;">최근
							이용내역</div>
						<div style="font-family: 'omyu_pretty'; font-size: 18px;"
							onclick="javascript:location.href='/LionPayList';">전체보기▶</div>
					</div>
					<div>
						<table id="listTable" border="1">
						    <tr th:if="${listDto.accountName != null}" th:each="listDto : ${lists}">
						        <td class="left">
							        <span th:text="${listDto.accountName} + ' 계좌'"></span><br/>
							        <span th:text="${#dates.format(listDto.date, 'yyyy-MM-dd HH:mm:ss')}"></span>
							    </td>
						        <td class="center" th:if="${listDto.rechargeAmount != null}">
								    <span th:text="'+ ' + ${listDto.rechargeAmount + '원 충전'}" style="color: #eec94f;"></span>
								</td>
								<td class="center" th:if="${listDto.usage != null}">
								    <span th:text="'- ' + ${listDto.usage + '원 사용'}" style="color: #0000c6;"></span>
								</td>
						    </tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<br /> <br />
		<hr class="hr-solid" />
		<!-- footer 자리 -->
		<footer class="tm-footer text-center">
			<div style="float: left;">
				<p>
					<b>사자고</b>
				</p>
				<br />
				<p>
					<b>사업자등록번호</b> 202-30-92017
				</p>
				<p>
					<b>이메일</b> help@liongg.co.kr
				</p>
				<p>
					<b>주소</b> 서울 강남구 테헤란로 124 삼원타워
				</p>
				<p>
					Copyright &copy; 2020 Simple House | Design: <a rel="nofollow"
						href="https://templatemo.com">TemplateMo</a>
				</p>
			</div>
			<div style="float: right;">
				<div>
					<div id="map" style="width: 400px; height: 200px; margin: auto;"></div>
				</div>
			</div>
		</footer>
	</div>
	
	<script type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f39e25a32280347ba1e28185a1577164"></script>
	<script>
		var container = document.getElementById('map');
		var options = {
			center : new kakao.maps.LatLng(37.49886, 127.03170),
			level : 2
		};

		var map = new kakao.maps.Map(container, options);
	</script>
	<script type="text/javascript" th:inline="javascript">
	  var btnOpen = document.getElementById('btnOpen');
	  var btnRefund = document.getElementById('btnRefund');
	  var btnCheck = document.getElementById('btnCheck');
	  var btnClose = document.getElementById('btnClose1');
	  var btnClose = document.getElementById('btnClose2');
	  var btnClose = document.getElementById('btnClose3');
	  var preModal = document.getElementById('preModal');
	  var modal = document.getElementById('modal');
	  var nextModal = document.getElementById('nextModal');

	  btnCheck.disabled = true;
	  btnRegister.disabled = true;
	  btnChange.disabled = true;
	  
	  // "pay비밀번호" 버튼 클릭 시 모달 창 열기
	  btnOpen.addEventListener('click', function() {
		
		  if ([[${dto.accountName}]] == null || [[${dto.accountNum}]] == null) {
		        alert('연결 계좌를 먼저 등록해주세요.');
		  } else {
		        if ([[${dto.payPwd}]] == null) {
		            preModal.style.display = 'block';
		        } else {
		            modal.style.display = 'block';
		        }
		  }
	  });
	  
	  btnRefund.addEventListener('click', function() {
		  refundPopup.style.display = 'block';
	  });
	  
	  //"x" 버튼 클릭 시 모달 창 닫기
	  btnClose1.addEventListener('click', function() {
	    $("#preModal").css("display", "none");
	    
	    document.getElementById('pwd1').value = '';
	    document.getElementById('pwd2').value = '';
	    document.getElementById('pwd3').value = '';
	    document.getElementById('pwd4').value = '';
	    document.getElementById('pwd5').value = '';
	    document.getElementById('pwd6').value = '';
	  });
	  
	  btnClose2.addEventListener('click', function() {
		    $("#modal").css("display", "none");
		    
		    document.getElementById('payPwd1').value = '';
		    document.getElementById('payPwd2').value = '';
		    document.getElementById('payPwd3').value = '';
		    document.getElementById('payPwd4').value = '';
		    document.getElementById('payPwd5').value = '';
		    document.getElementById('payPwd6').value = '';
		  });
	  
	  btnClose3.addEventListener('click', function() {
		    $("#nextModal").css("display", "none");
		    
		    document.getElementById('newPwd1').value = '';
		    document.getElementById('newPwd2').value = '';
		    document.getElementById('newPwd3').value = '';
		    document.getElementById('newPwd4').value = '';
		    document.getElementById('newPwd5').value = '';
		    document.getElementById('newPwd6').value = '';
		  });
	  
	  // 확인 버튼 클릭 시 모달 창
	  $(document).ready(function() {
	   $("#btnCheck").click(function() {
		    var dtoPwd = $("#payPwd").val();
		    var enteredPwd = "";

		    enteredPwd += $("#payPwd1").val();
		    enteredPwd += $("#payPwd2").val();
		    enteredPwd += $("#payPwd3").val();
		    enteredPwd += $("#payPwd4").val();
		    enteredPwd += $("#payPwd5").val();
		    enteredPwd += $("#payPwd6").val();

		    if (!enteredPwd) {
	            alert('PAY비밀번호를 입력해주세요.');
	        } else if (enteredPwd === dtoPwd) {
		        $("#modal").css("display", "none");
		        $("#nextModal").css("display", "block");
		        
		    } else {
		        alert('비밀번호가 일치하지 않습니다.');
		        
		        document.getElementById('payPwd1').value = '';
			    document.getElementById('payPwd2').value = '';
			    document.getElementById('payPwd3').value = '';
			    document.getElementById('payPwd4').value = '';
			    document.getElementById('payPwd5').value = '';
			    document.getElementById('payPwd6').value = '';
		    }
		});
	  });
	  
	  $("#confirm").click(function(){
		  
		  var userId = [[${dto.userId}]];
		    
		    $.ajax({
		        type: "GET",
		        url: "/resetRefund?userId=" + userId,
		        success: function(data) {
		            alert("계좌로 환불이 완료되었습니다.");
		            refundPopup.style.display = 'none';
		            window.location.href = '/LionPay';
		            
		        },
		        error: function() {
		            alert("다시 시도해주세요.");
		        }
		    });
		});
	  
	  $("#close").click(function(){
			refundPopup.style.display = 'none';
			
		});

	  
	</script>
	<script src="js/payPwd.js"></script>
</body>
</html>