<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge" /> -->
    <title>login</title>
    <link href="/css/all.min.css" rel="stylesheet"/>
	<link href="/css/templatemo-style.css" rel="stylesheet"/>
</head>
<style>
@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
</style>

<body> 
	<!-- 네비바 자리 -->
	<div th:replace="layout :: navbar"></div>
	
	<div class="container">
	<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src="/img/bg.jpg">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<div class="tm-site-text-box">
								<h1 class="tm-site-title">사자고</h1>
								<h6 class="tm-site-description">믿을만한 이웃 간 공동구매</h6>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">로그인</h2>
			</header>

			<div class="tm-container-inner-2 tm-contact-section" align="center">
					<div class="col-md-6">
						<form action="/login" method="POST" class="tm-contact-form" th:object="${loginForm}">
					        <div class="form-group">
					          <input type="text" th:field="*{userId}" class="form-control" placeholder="Id" required="" />
					        </div>
					        
					        <div class="form-group">
					          <input type="password" th:field="*{userPwd}" class="form-control" placeholder="Password" required="" />
					        </div>
					        
					       	<div th:if="${#fields.hasGlobalErrors()}">
					        	<p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text=${err}>
					        		글로벌 오류 메세지</p>
					        </div>
					        
					        <div class="form-group tm-d-flex">
						        <div align="center">
						          <button type="submit" class="tm-btn tm-btn-success tm-btn-right">
						            로그인
						          </button>
						       	</div>
					            <!-- 회원가입과 아이디/비밀번호 찾기 영역 -->
								<div style="padding-top: 20px; display: flex; justify-content: space-between;">
									<div align="left">
										<a href="/user/signup">회원가입</a>
									</div>
									<div align="right">
										<a href="#">아이디/비밀번호 찾기</a>
									</div>
								</div>
							</div>
						</form>
					</div>
			</div>
            
		</main>

		<footer class="tm-footer text-center">
			<p>Copyright &copy; 2020 Simple House 
            
            | Design: <a rel="nofollow" href="https://templatemo.com">TemplateMo</a></p>
		</footer>
	</div>
	<script src="js/jquery.min.js"></script>
	<script src="js/parallax.min.js"></script>
	<script>
		$(document).ready(function(){
			var acc = document.getElementsByClassName("accordion");
			var i;
			
			for (i = 0; i < acc.length; i++) {
			  acc[i].addEventListener("click", function() {
			    this.classList.toggle("active");
			    var panel = this.nextElementSibling;
			    if (panel.style.maxHeight) {
			      panel.style.maxHeight = null;
			    } else {
			      panel.style.maxHeight = panel.scrollHeight + "px";
			    }
			  });
			}	
		});
	</script>
</body>
</html>