<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>MyPage</title>
<link href="css/myPage.css" rel="stylesheet" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link href="css/templatemo-style.css" rel="stylesheet" />

<style>
@font-face {
	font-family: 'ONE-Mobile-POP';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'omyu_pretty';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}
</style>

<script type="text/javascript">
	
	function sendIt() {
		
		f = document.myForm;
		
		alert('프로필 정보가 수정되었습니다');
		
		f.action="/mypage_update.action";
		f.submit();
	}
	
	function test() {
	    f = document.myForm;

	    alert('프로필 정보가 수정되었습니다');

	    f.action = "/mypageImg_update.action";
	    f.submit();

	}
	
</script>

</head>
<body>
	<!-- 네비바 자리 -->
	<div th:replace="layout :: navbar"></div>
	<div class="container">
		<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll">
				<img src="img/bg.jpeg" style="width: 100%;">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<div class="tm-site-text-box">
								<h1 class="tm-site-title">사자고</h1>
								<h6 class="tm-site-description">믿을만한 이웃 간 만나서 거래</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div style="display: flex;">

			<!-- Sidebar -->
			<div class="sidebar">
				<h3 class="w3-bar-item">Menu</h3>
				<a href="/LionPay" class="w3-bar-item w3-button">LionPay</a> <a href="#"
					class="w3-bar-item w3-button">관심상품</a> <a href="#"
					class="w3-bar-item w3-button">거래내역</a> <a href="#"
					class="w3-bar-item w3-button">계정/정보</a>
			</div>

			<!-- Page Content -->
			<div style="width: 100%;">
				<header>
					<div align="center">
						<h2 class="col-12 text-center tm-section-title">마이페이지</h2>

						<div class="profileBox">
							<img class="profileImg" id="profileImage" 
								th:src="@{'/img/mypage/' + ${dto.profileImgName} + '?_=' + ${#dates.createNow().getTime()}}" >  
						</div>
					</div>
				</header>
				
				<form action="" method="post" name="myForm"
					 enctype="multipart/form-data">
					<div align="center">
						<br/><input type="file" name="mypageFilename"><br/>
						<input type="button" class="profileImgBtn" value="사진변경" onclick="test();">
					</div>
					
					<div style="margin-left: 27%;">
						<div>
							<h3
								style="font-family: 'omyu_pretty'; font-size: 20pt; padding-top: 14px;">닉네임</h3>
							<input type="text" name="nickName" th:value="${dto.nickName}"
								style="font-family: 'omyu_pretty'; font-size: 17pt; width: 60%;"/>
						</div>
						<br />
						<br />
						<input type="button" class="profileBtn" value="프로필 수정" onclick="sendIt();"/>
						<br />
						<br />
						<br />
	
					</div>
				</form>
				
				<div style="margin-left: 28%; margin-top: 20px;">
					<h4 style="font-family: 'omyu_pretty'; font-size: 20pt;">에너지
						게이지</h4>
					<b style="font-family: 'omyu_pretty'; font-size: 15pt;">[[${dto.energy}]]%</b>
					<div class="progress" style="margin-top: 20px;">
						<div class="progress-number" aria-valuenow="첫 에너지 40%"></div>
						<progress class="progressBar" th:value="${dto.energy}" min="0" max="100"></progress>

					</div>
				</div>
				<div align="center" style="margin-top: 100px;"></div>

			</div>
		</div>
		<hr class="hr-solid" />
		<!-- footer 자리 -->
		<footer class="tm-footer text-center">
			<div style="float: left;">

				<p>
					<b>사자고</b>
				</p>
				<br />
				<p>
					<b>사업자등록번호</b> 202-30-92017
				</p>
				<p>
					<b>이메일</b> help@liongg.co.kr
				</p>
				<p>
					<b>주소</b> 서울 강남구 테헤란로 124 삼원타워
				</p>
				<p>
					Copyright &copy; 2020 Simple House | Design: <a rel="nofollow"
						href="https://templatemo.com">TemplateMo</a>
				</p>
			</div>
			<div style="float: right;">
				<div>
					<div id="map" style="width: 400px; height: 200px; margin: auto;"></div>
				</div>
			</div>
		</footer>
	</div>

	<script type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f39e25a32280347ba1e28185a1577164"></script>
	<script>
			var container = document.getElementById('map');
			var options = {
				center: new kakao.maps.LatLng(37.49886, 127.03170),
				level: 2
			};
	
			var map = new kakao.maps.Map(container, options);
	</script>

</body>
</html>