<!DOCTYPE html>
<html lang="en">
<head>
  
<!-- include libraries(jQuery, bootstrap) -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>                     

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>글쓰기</title>  

<link href="css/templatemo-style.css" rel="stylesheet" />
<link href="css/write.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
<link rel="stylesheet" href="writePhoto.css">

<script type="text/javascript">

	function sendIt() {
			
   		f = document.myForm1;
   		
   		//내용 검사
		str = f.categoryId.value;
		str = str.trim();
		if(str==0){
			alert("\n카테고리를 선택하세요.");
			f.categoryId.focus();
			return;
		}
		f.categoryId.value = str;

   		str = f.title.value;
		str = str.trim();
		if(!str){
			alert("\n제목을 입력하세요.");
			f.title.focus();
			return;
		}
		f.title.value = str;
		
		str = f.productsPrice.value;
		str = str.trim();
		if(!str){
			alert("\n가격을 입력해주세요.");
			f.productsPrice.focus();
			return;
		}
		f.productsPrice.value = str;
		
		str = f.recruitment.value;
		str = str.trim();
		if(!str){
			alert("\n모집인원을 선택해주세요.");
			f.recruitment.focus();
			return;
		}
		f.recruitment.value = str;
		
		str = f.deadLine.value;
		if(!str){
			alert("\마감일을 선택해주세요.");
			f.deadLine.focus();
			return;
		}
		f.deadLine.value = str;
	
		str = f.contents.value;
		str = str.replace(/(?:\r\n|\r|\n)/g, '<br />');
		if(!str){
			alert("\n내용을 입력하세요.");
			f.contents.focus();
			return;
		}
		f.contents.value = str;
		
		
		//이미지 파일
		
		//파일을 선택하는 input 요소 가져오기
	    var fileInput = document.querySelector('input[name="chooseFileName"]');
	
		//이미지파일을 선택했을 경우
	    if (!fileInput.files.length === 0) {
			
	    	//선택한 파일의 이름 가져오기
		    var fileName = fileInput.files[0].name;
		
		    //허용된 파일 확장자 목록 정의
		    var allowedExtensions = ['.png', '.jpeg', '.jpg'];
		
		    //선택한 파일의 확장자 추출
		    var fileExtension = fileName.substring(fileName.lastIndexOf('.')).toLowerCase();
		
		    //허용된 확장자 목록에 있는지 확인
		    if (allowedExtensions.indexOf(fileExtension) === -1) {
		        alert('png 또는 jpg,jpeg 형식의 파일만 업로드할 수 있습니다.');
		        return; //허용되지 않은 확장자일 때 form을 제출하지 않고 함수 종료
			   }
	    }
		
	    alert('게시물이 등록되었습니다.')
	    
		f.action = "/write_ok.action";
		f.submit(); 
		
	}
	
	 function productsPriceChange(){
	        var productsPrice = document.getElementById('productsPrice').value;
	        
	    }
	    
    function recruitmentChange(){
    	var recruitment = document.getElementById('recruitment').value;
    }    

    function deadLineChange(){
    	var deadLine = document.querySelector("#deadLine").value;
    } 

</script>


</head>

<style>
@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

</style>

<body>

	<!-- 네비바 자리 -->
	<div th:replace="layout :: navbar"></div>
	
	<div style="width: 1200px; margin-left: 37px;">
	<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src="img/bg.jpeg">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<div class="tm-site-text-box">
								<h1 class="tm-site-title">글쓰기</h1>
  							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
    
    <main role="main" class="container" style="width: 92%;">
                     
    	<form action="" method="post" name="myForm1" enctype="multipart/form-data">
        	<div class="tm-paging-links1">
				<nav>
					<ul>
						<li class="tm-paging-item1"></li>
					</ul>
				</nav>
			</div>
			
			<!-- 이미지 업로드 -->
			<div class="container" style="width: 65%; font-family: 'omyu_pretty';">
				<div class="image-upload" id="image-upload" align="center">
			        <div class="button">
			          <span style="font-size: 5em; color: #8993a4;" id="chooseFile" >
						  <i class="fas fa-camera"></i>
					  </span>
			        </div>
	
				    <input type="file" id="chooseFileName" name="chooseFileName" onchange="loadFile(this)">
			      	<div class="fileContainer">
			        	<div class="fileInput">
			              <!-- <p>FILE NAME: </p> -->
			              <p id="fileName" hidden=""></p>
			      		</div>
				        <div class="buttonContainer">
				           <div class="submitButton" id="submitButton"></div>
				       	</div>
			      	</div><br/>
				
				    <!-- 파일 미리보기 -->
				    <div class="image-show" id="image-show"></div>
				</div>
				<br/><br/>
			
				<!-- 제목~주소 -->
	            <select class="form-control" name="categoryId" id="categoryId"  style="border-radius:5px; width:100%; padding:5px; padding-left: 15px;">
	                <option value="0">카테고리 선택</option>
	                <option value="1">신선식품</option>
	                <option value="2">가공식품</option>
	                <option value="3">의류/신발</option>
	                <option value="4">뷰티/미용</option>
	                <option value="5">생활/주방</option>
	                <option value="6">스포츠/레저</option>
	                <option value="7">도서</option>
	                <option value="8">기타물품</option>
	            </select>
   				<div class="form-group form-price"></div>
	              
				<input type="text" class="form-control" name="title" id="title" placeholder="제목을 입력하세요." style="border-radius:5px; width:100%; padding:5px; padding-left: 15px;"/>
				<br/>	
			
		        <div class="form-group form-price">
	                <input type="number" class="form-control" name="productsPrice" min="0" step="1000" placeholder="가격을 입력해주세요. (￦)"
					style="border-radius:5px;width:99%;" value=""  onchange="productsPriceChange();"/>
		        </div>
	            <div class="form-group form-price">
	                <input type="number" class="form-control" name="recruitment" min="2" max="5" step="1" placeholder="모집인원을 입력해주세요. (명)" 
	                style="border-radius:5px;width:99%;" value="" onchange="recruitmentChange();"/>
	            </div>
		             
	        	<input type="text" class="form-control" name="myAddress" th:value="${dto.myAddress}" id="myAddr" 
	        		style="border-radius:5px; width:100%; padding:5px;" readonly hidden/>
	        	<input type="text" class="form-control" name="myLatitude" th:value="${dto.myLatitude}" id="myLatitude" 
	        		style="border-radius:5px; width:100%; padding:5px;" readonly hidden/>
	        	<input type="text" class="form-control" name="myLongitude" th:value="${dto.myLongitude}" id="myLongitude" 
	        		style="border-radius:5px; width:100%; padding:5px;" readonly hidden/>
	        	<!-- 제목~주소 끝 --> 
        	
	        	<!-- 마감일 작성 -->
	        	<div>
	        		<label style="font-size: 18px; color: #747474; margin-right: 30px;" >&nbsp;&nbsp;&nbsp;마감일을 입력해주세요.
	                <input type="datetime-local" class="form-control" name="deadLine" id="deadLine"
	                style="border-radius:5px;width:99%;" value="" onchange="deadLineChange();"/>
	          		</label>
	          		  <button type="button" id="closeDateButton" style="background-color: #4CAF50; color: white; border: none; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 5px;">선택 완료</button>
	            </div>
	            <!-- 마감일 작성 완료 -->
        
       	 	 <script>
	       	  
				  // 현재 날짜와 시간 가져오기
				  var now = new Date();
				  var year = now.getFullYear();
				  var month = (now.getMonth() + 1).toString().padStart(2, '0');
				  var day = now.getDate().toString().padStart(2, '0');
				  var hours = now.getHours().toString().padStart(2, '0');
				  var minutes = now.getMinutes().toString().padStart(2, '0');
				  var currentDatetime = year + '-' + month + '-' + day + 'T' + hours + ':' + minutes;
				
				  // 입력란에 현재 날짜와 시간 설정 (현재 시간 이후의 날짜만 설정 가능)
				  document.getElementById("deadLine").min = currentDatetime;
				 
			   // "선택 완료" 버튼 클릭 시 달력 닫기
			    document.getElementById("closeDateButton").addEventListener("click", function() {
			        var dateInput = document.getElementById("deadLine");
			        dateInput.isDroppedDown = false; // 이 코드는 해당 컨트롤이 달력을 닫도록 설정합니다.
			    });
			  
			</script>  
        
        		<br/><br/>

				<div class="pt-1">
	            	<textarea id="summernote" name="contents"></textarea>
	            </div> 
	                  
				<!-- 게시글 작성 -->
	            <script>
	                $('#summernote').summernote({
	                  placeholder: '게시글 내용을 작성해 주세요. (판매금지 물품은 게시가 제한될 수 있습니다.)<br/><br/> 신뢰할 수 있는 거래를 위해 자세히 적어주세요. <br/><br/> 구매 후 공구하는 경우는 영수증 사진을 필수로 첨부해주세요.',
	                  tabsize: 2,
	                  height: 400
	                });
	            </script>      
            	<br/><br/>             
                                 
	            <div class="pt-1 text-right" style="padding-bottom: 50px;">
	                <input type="button" class="qnaBtn" style="width:10%; padding:5px;"  
	                	onclick="javascript:location.href='list1';" value="작성취소">
	                <input type="button" class="qnaBtn" style="width:10%; padding:5px; margin-right: 10px;" 
	                	onclick="sendIt();" value="작성완료">
	                <br/><br/>
	            </div>    
        </div>
   </form>
 </main>  

<script src="js/jquery.min.js"></script>
<script src="js/parallax.min.js"></script>
<script src="js/writePhoto.js"></script>
	

	<script>
		$(document).ready(function(){
			// Handle click on paging links
			$('.tm-paging-link1').click(function(e){
				e.preventDefault();
				
				var page = $(this).text().toLowerCase();
				$('.tm-gallery-page').addClass('hidden');
				$('#tm-gallery-page-' + page).removeClass('hidden');
				$('.tm-paging-link1').removeClass('active');
				$(this).addClass("active");
			});
		});
	</script>
	
    </body>
</html>